* {
	margin: 0;
	padding: 0;
}

html {
	background: url(./img/img1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin: 0;
	padding: 0;
	color: whitesmoke;
}

header {
	padding: 10px 15px;
	width: 100%;
	margin: 0;
	margin-top: 2px;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	font-family: "Trebuchet MS", sans-serif;
	right: 0;
}

.container {
	width: 80%;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 15px;
	padding: 20px;
	height: auto;
	min-height: 300px;
	max-width: 1140px;
	border: 5px whitesmoke solid;
	border-width: 3px;
	border-bottom-width: 10px;
	border-right-width: 6px;
	border-top-style: double;
	border-radius: 15px;
	box-sizing: border-box;
}

#content-wrap {
	display: grid;
	grid-template-columns: 30% 70%;
}

a {
	text-decoration: none;
	color: whitesmoke;
	text-shadow: 0.4px 0.4px black;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a:hover {
	color: burlywood;
}

.button {
	font-family: Arial;
	font-size: 15px;
	width: 140px;
	height: 40px;
	border-width: 1px;
	color: #fff;
	border-color: #d02718;
	font-weight: bold;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	text-shadow: 0px 1px 0px #810e05;
	background: linear-gradient(#c62d1f, #f24437);
}

.buttonClass:hover {
	background: linear-gradient(#f24437, #c62d1f);
}

.button:hover {
	background: sienna;

	color: whitesmoke;
}

h1 {
	text-align: center;
	text-shadow: 0.5px 0.5px black;
}

h2 {
	padding-bottom: 5px;
	text-shadow: 0.5px 0.5px black;
	padding-right: 5px;
}

h3 {
	margin-left: 24px;
	letter-spacing: 0.2em;
	padding-bottom: 10px;
	padding-left: 50px;
}

li {
	list-style-type: none;
}

#headshot {
	border-radius: 50%;
	display: inline-block;
	clear: right;
}

#about {
	display: inline-block;
}

.form-group {
	margin: auto;
	padding-bottom: 20px;
	width: 600px;
}

.form-group input[type="text"] {
	padding: 8px;
	width: 100%;
}

.form-group input[type="email"] {
	padding: 8px;
	width: 100%;
}

.contact-form {
	padding: 20px;
}

#text-area {
	width: 100%;
	height: 140px;
}

footer {
	position: absolute;
	padding: 20px;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

@media (max-width: 600px) {
	.container {
		width: 100%;
		float: none;
	}
}
