* {
	margin: 0;
	padding: 0;
}

html {
	background: url(./img/img1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin: 0;
	padding: 0;
	color: whitesmoke;
}

header {
	padding: 10px 0;
	text-align: right 20px;
	width: 100%;
	margin: 0;
	margin-top: 2px;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	font-family: "Source Serif Pro", serif;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
}

h2 {
	padding-bottom: 5px;
}

h3 {
	letter-spacing: 0.2em;
}

li {
	list-style-type: none;
}

#form-container {
	margin: auto;
	width: 600px;
	color: whitesmoke;
	font-size: 20;
}

.form-group {
	margin: auto;
	padding-bottom: 20px;
	width: 600px;
}

.form-group input[type="text"] {
	padding: 8px;
	width: 100%;
}

.form-group input[type="email"] {
	padding: 8px;
	width: 100%;
}

.contact-form {
	padding: 20px;
}

.form-group input[type="submit"] {
	padding: 8px;
}

#text-area {
	width: 100%;
	height: 140px;
}

.container {
	/* background-color: sandybrown; */
	width: 80%;
	margin: auto;
	padding: 20px;
	max-width: 1140px;
	border: 5px whitesmoke solid;
	border-width: 3px;
	border-bottom-width: 10px;
	border-right-width: 6px;
	border-top-style: double;
	border-radius: 15px;
}

footer {
	position: absolute;
	padding: 20px;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
